// out: false
@import 'base.less';
@import 'header.less';
@import 'banner.less';
@import 'footer.less';
@import 'homepage.less';
@import 'contact.less';
@import 'partners.less';
@import 'news.less';
@import 'product.less';
.main {
  min-height: 20rem;
  .breadCrumb-container {
    display: none;
    background-color: var(--color-sixth);
    padding: 1rem;
    @media (min-width: 992px) {
      display: block;
    }
  }
  .breadcrumb {
    background: none;
    margin-bottom: 0;
  }
  .insider {
    padding-bottom: 1rem;
    @media (min-width: 992px) {
      padding-bottom: 4rem;
    }
  }
  .page-title {
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
    position: relative;
    .more {
      font-size: 1.6rem;
      font-weight: normal;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .name {
      font-size: 1.6rem;
      color: @color-gray;
      display: inline-block;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: calc(50% + 0.2rem);
        left: -1.2rem;
        height: 2rem;
        transform: translateY(-50%);
        border-left: 0.3rem solid @color-gray;
      }
      &::after {
        content: '';
        position: absolute;
        top: calc(50% + 0.2rem);
        left: -2rem;
        height: 2rem;
        transform: translateY(-50%);
        border-left: 0.6rem solid @color-primary;
      }
      @media (min-width: 768px) {
        font-size: 2rem;
      }
    }
  }
  .page-detail-title {
    padding: 2rem 0;
    margin-top: 2rem;
    margin-bottom: 0;
    text-align: center;
  }
  .page-sub-title {
    text-align: center;
    font-weight: normal;
  }
  .page-inside-nav {
    margin: 2rem 0;
    dl {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0;
    }
    dd {
      margin: 1rem;
      a {
        padding: 1rem 3rem;
        min-width: 12rem;
        display: block;
        text-align: center;
        border-radius: 4px;
        background-color: @color-gray;
        &:hover,
        &.active {
          box-shadow: 0 0 3px @color-gray;
          background-color: @color-primary;
          // background-image: linear-gradient(90deg, @color-primary 0%, @color-gray 100%);
        }
      }
    }
  }
  .page-content {
    margin: 2rem auto;
    padding: 0.4rem;
    max-width: 100%;
    word-break: break-all;
    overflow: hidden;
    &.limit-width {
      img {
        max-width: 100% !important;
      }
    }
    @media (min-width: 992px) {
      max-width: 800px;
    }
    @media (min-width: 1200px) {
      max-width: 900px;
    }
  }
  .page-sub-mobile-select {
    position: absolute;
    right: 1rem;
    top: 50%;
    color: @color-primary;
    text-align: right;
    transform: translateY(-50%);
    a {
      padding: 0.4rem 1rem;
      border-radius: 1rem;
      color: @color-gray;
      border: 1px solid @color-gray;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .page-sub-groups {
    height: 0;
    width: 100%;
    .web-choose,
    .web-collapse {
      display: none;
    }
    .table {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      height: 0;
      background-color: rgba(0, 0, 0, 0.5);
      overflow: hidden;
      .list {
        max-height: 0;
        overflow: hidden;
        border-bottom-left-radius: 1.6rem;
        border-bottom-right-radius: 1.6rem;
        > dl {
          padding: 1rem 0;
          margin-bottom: 0;
          background-color: hsla(var(--color-primary-base), 0.8);
          dd {
            text-align: left;
            margin-bottom: 0;
            padding: 1rem 3.6rem;
            a {
              font-size: 1.6rem;
              color: @color-white;
            }
          }
        }
      }
    }
    &.expand {
      .table {
        height: 100%;
        transition: height 0.5s ease-out;
        .list {
          max-height: 100%;
        }
      }
    }
    @media (min-width: 768px) {
      height: unset;
      overflow: hidden;
      .table {
        position: static;
        display: table;
        margin-bottom: 0;
        width: 100%;
        background: none;
        .list {
          display: table-cell;
          border-radius: 0;
          text-align: center;
          > dl {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            margin-bottom: 0;
            background: none;
            padding: 0;
            dd {
              text-align: left;
              margin: 0;
              padding: 1rem;
              a {
                display: inline-block;
                padding: 0.6rem 1rem;
                background-color: @color-gray;
                border-radius: 0.6rem;
                &:hover {
                  background-color: @color-primary;
                }
              }
            }
          }
        }
      }
      .web-choose {
        display: table-cell;
        text-align: center;
        width: 10rem;
      }
      .web-collapse {
        display: table-cell;
        text-align: center;
        width: 10rem;
        > a {
          display: inline-block;
          user-select: none;
          cursor: pointer;
          padding: 0.4rem 1rem;
          border-radius: 0.4rem;
          border: 1px solid #ccc;
          &:hover,
          &:active {
          }
        }
      }
    }
  }
}
